.link {
    align-items: center;
    column-gap: 10px;
    color: black;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    font-size: 24px;
}

/* .logo {} */

.side-bar {
    border-right: 1px solid gainsboro;
    display: flex;
    flex-direction: column;
    left: 0;
    margin: 0 24px;
    top: 0;
    width: 10%;
}

.side-bar__links {
    display: flex;
    flex-direction: column;
    margin-bottom: auto;
    margin-top: auto;
    row-gap: 10px;
    width: 100%;
}

.side-bar__logo {
    display: flex;
}