.header {
    align-items: center;
    box-sizing: border-box;
    border-bottom: 1px solid gainsboro;
    display: flex;
    flex-direction: row;
    height: 10%;
    justify-content: space-between;
    padding: 10px 5px;
    width: 100%;
}

.search-bar {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    height: 100%;
}

.search-bar__icon {
    box-sizing: border-box;
    color: black;
    height: 100%;
    opacity: 0.8;
    padding: 10px;
    width: auto;
}

.search-bar__input {
    border: none;
    box-sizing: border-box;
    color: black;
    display: flex;
    flex-grow: 1;
    font-size: 18px;
    height: 100%;
    opacity: 0.6;
    outline: none;
}