.header {
    align-items: center;
    box-sizing: border-box;
    border-bottom: 1px solid gainsboro;
    display: flex;
    flex-direction: row;
    height: 10%;
    justify-content: space-between;
    padding: 10px 5px;
    width: 100%;
}

.search-bar {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    height: 100%;
}

.search-bar__icon {
    box-sizing: border-box;
    color: black;
    height: 100%;
    opacity: 0.8;
    padding: 10px;
    width: auto;
}

.search-bar__input {
    border: none;
    box-sizing: border-box;
    color: black;
    display: flex;
    flex-grow: 1;
    font-size: 18px;
    height: 100%;
    opacity: 0.6;
    outline: none;
}

.switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
}

.switch__input {
    height: 0;
    opacity: 0;
    width: 0;
}

.switch__input:checked+.switch__slider {
    background-color: red;
}

.switch__input:focus+.switch__slider {
    box-shadow: 0 0 1px #2196F3;
}

.switch__input:checked+.switch__slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.switch__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.switch__slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.switch__slider--round {
    border-radius: 34px;
}

.switch__slider--round:before {
    border-radius: 50%;
}