.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

.top-container {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    height: 90%;
}

.top-right-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
}